[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/KyeeHuang/learning-lm-rs
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:zhaijiaqi/TinyInfiniTensor.git
